<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4 flex justify-content-end">
                <ng-template pTemplate="right">
                    <button pButton pRipple class="p-button-rounded p-button-primary mr-2" (click)="cargarPermisos()"
                        icon="pi pi-refresh"></button>
                    <button pButton pRipple class="p-button-rounded p-button-primary" (click)="agregarFila()"
                        label="Agregar" icon="pi pi-plus"></button>
                </ng-template>
            </p-toolbar>
        </div>
    </div>
</div>