@import "/src/assets/layout/styles/layout/layout.scss";

:host ::ng-deep {
    .asiganados {
        .p-datatable {
            .p-datatable-header {
                background: $primary-color;
                color: #ffff;
            }

            .p-datatable-footer {
                text-align: right;
            }
        }
    }
    
    .no-asiganados {
        .p-datatable {
            .p-datatable-header {
                background: $second-color;
                color: #ffff;
            }

            .grupo-ticket {
                background: #2c415354;
                color: #000;
            }

            .p-datatable-footer {
                text-align: right;
            }
        }

    }

}

.filtro-avanzado label{
    margin-top: 3px;
    margin-right: 10px;
}