<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4 flex justify-content-end">
                <ng-template pTemplate="right">
                    <button pButton pRipple class="p-button-rounded p-button-primary mr-2"
                        (click)="obtenerVoluntarios()" icon="pi pi-refresh"></button>

                    <p-dropdown [options]="listaElecciones" [(ngModel)]="eleccionSeleccionada"
                        placeholder="Seleccione una elección" optionLabel="eleccion"
                        (change)="obtenerVoluntarios()"></p-dropdown>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listaVoluntarios" [columns]="cols" responsiveLayout="scroll" [rows]="rowsInit"
                [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true"
                [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gestión de Voluntarios</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let item of cols" [pSortableColumn]="item.field">
                            {{item.header}}
                            <p-sortIcon [field]="item.field"></p-sortIcon>
                        </th>
                        <th>Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr *ngIf="data['correo'] != correoUsuario">
                        <td *ngFor="let item of cols">
                            <span class="p-column-title">{{data[item.header]}}</span>
                            <span *ngIf="item.type === 'text'"> {{data | transformarDatos: item.field |
                                titlecase}}</span>

                            <span *ngIf="item.type === 'badge'"
                                [class]="'text-center customer-badge status-' + (data[item.field] === '1'? 'negotiation ' : data[item.field] === '2'?  'qualified': 'unqualified')">
                                {{ data[item.field] === '1' ? 'Solicitante' : data[item.field] === '2' ? 'Aceptado' :
                                'Rechazado' }}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <!-- <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded p-button-secondary mr-2" pTooltip="Ver datos completos"
                                    tooltipPosition="top" (click)="cargarVoluntario(data, 'datos')"></button> -->
                                <button *ngIf="data['estado'] == 2" pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary mr-2" pTooltip="Actualizar registro"
                                    tooltipPosition="top" (click)="cargarVoluntario(data,'editar')"></button>
                                <button *ngIf="data['estado'] != 2" pButton pRipple icon="pi pi-user"
                                    class="p-button-rounded p-button-primary" pTooltip="Gestionar registro"
                                    tooltipPosition="top" (click)="cargarVoluntario(data, 'gestion')"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="datosDialog" [style]="{width: '450px'}" header="Detalles Voluntario" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <span class="block text-600 font-medium mb-3">DATOS PADRÓN</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            Nombres: <span class="text-700"> {{ voluntarioSeleccionado.padron_electoral.nom_padron |
                                titlecase }} </span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            País: <span class="text-700"> {{ voluntarioSeleccionado.nom_pais | titlecase }} </span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            Provincia: <span class="text-700"> {{ voluntarioSeleccionado.nom_provincia | titlecase }}
                            </span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            Cantón: <span class="text-700"> {{ voluntarioSeleccionado.nom_canton | titlecase }} </span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            Parroquia: <span class="text-700"> {{ voluntarioSeleccionado.nom_parroquia | titlecase }}
                            </span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <span class="text-800 line-height-3">
                            Recinto: <span class="text-700"> {{ voluntarioSeleccionado.padron_electoral.nom_recinto }}
                            </span>
                        </span>
                    </li>
                </ul>
                <span class="block text-600 font-medium mb-3">IMÁGEN</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            Perfil:
                            <button pButton pRipple type="button" icon="pi pi-image"
                                class="p-button-rounded p-button-primary" (click)="obtenerImagen()"
                                *ngIf="!presentarFoto"></button>
                            <img [src]="fotoVoluntario" alt="Foto Perfil" *ngIf="presentarFoto">
                        </span>
                    </li>
                </ul>
                <span class="block text-600 font-medium mb-3">CONTACTOS</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            Correo: <span class="text-700"> {{ voluntarioSeleccionado.correo }} </span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <span class="text-800 line-height-3">
                            Teléfono: <span class="text-700"> {{ voluntarioSeleccionado.telefono }} </span>
                        </span>
                    </li>
                </ul>
                <span class="block text-600 font-medium mb-3"
                    *ngIf="voluntarioSeleccionado.red_fb || voluntarioSeleccionado.red_tw || voluntarioSeleccionado.red_tk || voluntarioSeleccionado.red_ig">REDES
                    SOCIALES</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none"
                    *ngIf="voluntarioSeleccionado.red_fb || voluntarioSeleccionado.red_tw || voluntarioSeleccionado.red_tk || voluntarioSeleccionado.red_ig">
                    <li class="flex align-items-center py-2">
                        <div class="flex flex-wrap align-items-center">
                            <p-chip label="Facebook" icon="pi pi-facebook" styleClass="m-1"
                                *ngIf="voluntarioSeleccionado.red_fb"
                                (click)="redirigir('https://www.facebook.com/search/top?q=' + voluntarioSeleccionado.red_fb)"></p-chip>
                            <p-chip label="Twitter" icon="pi pi-twitter" styleClass="m-1"
                                (click)="redirigir('https://x.com/' + voluntarioSeleccionado.red_tw)"
                                *ngIf="voluntarioSeleccionado.red_tw"></p-chip>
                            <p-chip label="Tiktok" image="assets/layout/images/tik-tok.png" styleClass="m-1"
                                (click)="redirigir('https://www.tiktok.com/' + voluntarioSeleccionado.red_tk)"
                                *ngIf="voluntarioSeleccionado.red_tk"></p-chip>
                            <p-chip label="Instagram" icon="pi pi-instagram" styleClass="m-1"
                                (click)="redirigir('https://www.instagram.com/' + voluntarioSeleccionado.red_ig)"
                                *ngIf="voluntarioSeleccionado.red_ig"></p-chip>
                        </div>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3"
                    *ngIf="voluntarioSeleccionado.usuario_valida">VALIDADOR</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none" *ngIf="voluntarioSeleccionado.usuario_valida">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <span class="text-800 line-height-3">
                            Usuario: <span class="text-700"> {{ voluntarioSeleccionado.usuario_valida }} </span>
                        </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <span class="text-800 line-height-3">
                            Descripción: <span class="text-700"> {{ voluntarioSeleccionado.descripcion }} </span>
                        </span>
                    </li>
                </ul>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button p-button-primary"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="gestionarDialog" [closable]="false" header="Gestión Voluntario" [modal]="true"
            [style]="{width: isMobile() ? '450px': '650px'}" class="p-fluid">
            <p-tabView orientation="left" [(activeIndex)]="activeIndex">
                <p-tabPanel header="Gestión" class="line-height-3 m-0">
                    <form [formGroup]="form" (ngSubmit)="guardar()">
                        <div class="field">
                            <label for="tipoVoluntario">Tipo Registro</label>
                            <input type="text" pInputText id="tipoVoluntario" formControlName="tipoVoluntario"
                                [ngClass]="{'ng-invalid ng-touched': form.get('tipoVoluntario').invalid && form.get('tipoVoluntario').touched}" />
                        </div>
                        <div class="field">
                            <label for="accionSeleccionada">Acción</label>
                            <p-selectButton [options]="accionesVoluntario" formControlName="accionSeleccionada"
                                optionLabel="name" />
                            <div *ngIf="accionSeleccionada.invalid && accionSeleccionada.touched" class="error-message">
                                <div *ngIf="accionSeleccionada.errors?.required">Elija una acción.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="accionSeleccionada.value.id === '2'">
                            <div class="field">
                                <label for="rolSeleccionado">Rol</label>
                                <p-dropdown (onChange)="devinirTerritorios($event);" [options]="listaRoles"
                                    formControlName="rolSeleccionado" optionLabel="rol"
                                    [ngClass]="{'ng-invalid ng-dirty': form.get('rolSeleccionado').invalid && form.get('rolSeleccionado').touched}"
                                    placeholder="Seleccione un rol"></p-dropdown>
                                <div *ngIf="rolSeleccionado.invalid && rolSeleccionado.touched" class="error-message">
                                    <div *ngIf="rolSeleccionado.errors?.required">Elija una opción.
                                    </div>
                                </div>
                            </div>

                            <ng-template #pais>
                                <div class="field">
                                    <label for="territorioSeleccionado"> Territorio </label>
                                    <p-autoComplete
                                        (onSelect)="rolSeleccionado.value.territorio != 'pais'? obtenerProvincias($event): return"
                                        formControlName="paisSeleccionado" [suggestions]="filtradoPais"
                                        (completeMethod)="filtroPais($event)" field="pais"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('paisSeleccionado').invalid && form.get('paisSeleccionado').touched}"
                                        [dropdown]="true">
                                        <ng-template let-pais pTemplate="item">
                                            {{ pais.pais | titlecase }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="paisSeleccionado.invalid && paisSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="paisSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #provincia>
                                <div class="field">
                                    <label for="territorioSeleccionado"> Provincia </label>
                                    <p-autoComplete
                                        (onSelect)="rolSeleccionado.value.territorio != 'provincia'? obtenerDistritos($event): return"
                                        formControlName="provinciaSeleccionado" [suggestions]="filtradoProvincia"
                                        (completeMethod)="filtroProvincia($event)" field="provincia"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('provinciaSeleccionado').invalid && form.get('provinciaSeleccionado').touched}"
                                        [dropdown]="true" [disabled]="true">
                                        <ng-template let-provincia pTemplate="item">
                                            {{ provincia.provincia | titlecase }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="provinciaSeleccionado.invalid && provinciaSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="provinciaSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #distrito>
                                <div class="field">
                                    <label for="territorioSeleccionado"> Distrito </label>
                                    <p-autoComplete
                                        (onSelect)="rolSeleccionado.value.territorio != 'distrito'? obtenerCantones($event,'distrito'): return"
                                        formControlName="distritoSeleccionado" [suggestions]="filtradoDistrito"
                                        (completeMethod)="filtroDistrito($event)" field="distritos"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('distritoSeleccionado').invalid && form.get('distritoSeleccionado').touched}"
                                        [dropdown]="true">
                                        <ng-template let-distritos pTemplate="item">
                                            {{ distritos.distritos | titlecase }}
                                        </ng-template>
                                        <ng-template let-distritos pTemplate="selectedItem">
                                            {{ distritos.distritos | titlecase }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="distritoSeleccionado.invalid && distritoSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="distritoSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #canton>
                                <div class="field">
                                    <label for="territorioSeleccionado"> Cantón </label>
                                    <p-autoComplete
                                        (onSelect)="rolSeleccionado.value.territorio != 'canton'? obtenerParroquias($event): return"
                                        formControlName="cantonSeleccionado" [suggestions]="filtradoCanton"
                                        (completeMethod)="filtroCanton($event)" field="canton"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('cantonSeleccionado').invalid && form.get('cantonSeleccionado').touched}"
                                        [dropdown]="true">
                                        <ng-template let-canton pTemplate="item">
                                            {{ canton.canton | titlecase }}
                                        </ng-template>
                                        <ng-template let-canton pTemplate="selectedItem">
                                            {{ canton.canton | titlecase }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="cantonSeleccionado.invalid && cantonSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="cantonSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #parroquia>
                                <div class="field">
                                    <label for="territorioSeleccionado"> Parroquia </label>
                                    <p-autoComplete
                                        (onSelect)="rolSeleccionado.value.territorio != 'parroquia'? obtenerZonas($event): return"
                                        formControlName="parroquiaSeleccionado" [suggestions]="filtradoParroquia"
                                        (completeMethod)="filtroParroquia($event)" field="parroquia"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('parroquiaSeleccionado').invalid && form.get('parroquiaSeleccionado').touched}"
                                        [dropdown]="true">
                                        <ng-template let-parroquia pTemplate="item">
                                            {{ parroquia.parroquia | titlecase }}
                                        </ng-template>
                                        <ng-template let-parroquia pTemplate="selectedItem">
                                            {{ parroquia.parroquia | titlecase }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="parroquiaSeleccionado.invalid && parroquiaSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="parroquiaSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #zona>
                                <div class="field">
                                    <label for="zonaSeleccionado"> Zona </label>
                                    <p-autoComplete
                                        (onSelect)="rolSeleccionado.value.territorio != 'zona'? obtenerRecinto($event): return"
                                        formControlName="zonaSeleccionado" [suggestions]="filtradoZona"
                                        (completeMethod)="filtroZona($event)" field="zona"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('zonaSeleccionado').invalid && form.get('zonaSeleccionado').touched}"
                                        [dropdown]="true">
                                        <ng-template let-zona pTemplate="item">
                                            {{ zona.zona | titlecase }}
                                        </ng-template>
                                        <ng-template let-zona pTemplate="selectedItem">
                                            {{ zona.zona | titlecase }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="zonaSeleccionado.invalid && zonaSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="zonaSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #recinto>
                                <div class="field">
                                    <label for="recintoSeleccionado"> Recinto </label>
                                    <p-autoComplete
                                        (onSelect)="rolSeleccionado.value.territorio != 'recinto'? obtenerMesa($event): return"
                                        formControlName="recintoSeleccionado" [suggestions]="filtradoRecinto"
                                        (completeMethod)="filtroRecinto($event)" field="recinto"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('recintoSeleccionado').invalid && form.get('recintoSeleccionado').touched}"
                                        [dropdown]="true">
                                        <ng-template let-recinto pTemplate="item">
                                            {{ recinto.recinto | titlecase }}
                                        </ng-template>
                                        <ng-template let-recinto pTemplate="selectedItem">
                                            {{ recinto.recinto | titlecase }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="recintoSeleccionado.invalid && recintoSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="recintoSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #mesa>
                                <div class="field">
                                    <label for="mesaSeleccionado"> Mesa </label>
                                    <p-autoComplete formControlName="mesaSeleccionado" [suggestions]="filtradoMesa"
                                        (completeMethod)="filtroMesa($event)" field="numeroGenero"
                                        [ngClass]="{'ng-invalid ng-dirty': form.get('mesaSeleccionado').invalid && form.get('mesaSeleccionado').touched}"
                                        [dropdown]="true">
                                        <ng-template let-mesa pTemplate="item">
                                            {{ mesa.numeroGenero }}
                                        </ng-template>
                                        <ng-template let-mesa pTemplate="selectedItem">
                                            {{ mesa.numeroGenero }}
                                        </ng-template>
                                    </p-autoComplete>
                                    <div *ngIf="mesaSeleccionado.invalid && mesaSeleccionado.touched"
                                        class="error-message">
                                        <div *ngIf="mesaSeleccionado.errors?.required">Elija una opción.
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <div *ngIf="localidadEntidad != '*'">

                                <div *ngIf="rolSeleccionado.value.territorio == 'pais'">
                                    <ng-container *ngTemplateOutlet="pais"></ng-container>
                                </div>

                                <div
                                    *ngIf="rolSeleccionado.value.territorio == 'provincia' || (localidadEntidad == 'pais')">
                                    <ng-container *ngTemplateOutlet="provincia"></ng-container>
                                </div>

                                <div
                                    *ngIf="(rolSeleccionado.value.territorio == 'distrito' || ((localidadEntidad == 'pais' || localidadEntidad == 'provincia') 
                                        && (rolSeleccionado.value.territorio == 'distrito' || rolSeleccionado.value.territorio == 'canton' || rolSeleccionado.value.territorio == 'parroquia'
                                        || rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona'))) && tieneDistrito">
                                    <ng-container *ngTemplateOutlet="distrito"></ng-container>
                                </div>

                                <div
                                    *ngIf="rolSeleccionado.value.territorio == 'canton' || ((localidadEntidad == 'pais' || localidadEntidad == 'provincia' 
                                        || localidadEntidad == 'distrito') && (rolSeleccionado.value.territorio == 'canton' || rolSeleccionado.value.territorio == 'parroquia'
                                        || rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona'))">
                                    <ng-container *ngTemplateOutlet="canton"></ng-container>
                                </div>

                                <div
                                    *ngIf="rolSeleccionado.value.territorio == 'parroquia' || ((localidadEntidad == 'pais' || localidadEntidad == 'provincia' 
                                        || localidadEntidad == 'distrito' || localidadEntidad == 'canton') && (rolSeleccionado.value.territorio == 'parroquia'
                                        || rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona'))">
                                    <ng-container *ngTemplateOutlet="parroquia"></ng-container>
                                </div>
                            </div>

                            <div *ngIf="localidadEntidad == '*' && rolSeleccionado.value">
                                <div>
                                    <ng-container *ngTemplateOutlet="pais"></ng-container>
                                </div>

                                <div *ngIf="rolSeleccionado.value.territorio == 'parroquia' || rolSeleccionado.value.territorio == 'canton' || rolSeleccionado.value.territorio == 'mesa'
                                    || rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona'|| rolSeleccionado.value.territorio == 'distrito'
                                    || rolSeleccionado.value.territorio == 'provincia'">
                                    <ng-container *ngTemplateOutlet="provincia"></ng-container>
                                </div>

                                <div
                                    *ngIf="(rolSeleccionado.value.territorio == 'parroquia' || rolSeleccionado.value.territorio == 'canton' || rolSeleccionado.value.territorio == 'mesa'
                                    || rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona'|| rolSeleccionado.value.territorio == 'distrito') && tieneDistrito">
                                    <ng-container *ngTemplateOutlet="distrito"></ng-container>
                                </div>

                                <div
                                    *ngIf="rolSeleccionado.value.territorio == 'parroquia' || rolSeleccionado.value.territorio == 'canton'
                                    || rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona' || rolSeleccionado.value.territorio == 'mesa'">
                                    <ng-container *ngTemplateOutlet="canton"></ng-container>
                                </div>

                                <div
                                    *ngIf="rolSeleccionado.value.territorio == 'parroquia' || 
                                    rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona' || rolSeleccionado.value.territorio == 'mesa'">
                                    <ng-container *ngTemplateOutlet="parroquia"></ng-container>
                                </div>

                                <div
                                    *ngIf="rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'zona' || rolSeleccionado.value.territorio == 'mesa'">
                                    <ng-container *ngTemplateOutlet="zona"></ng-container>
                                </div>

                                <div
                                    *ngIf="rolSeleccionado.value.territorio == 'recinto' || rolSeleccionado.value.territorio == 'mesa'">
                                    <ng-container *ngTemplateOutlet="recinto"></ng-container>
                                </div>

                                <div *ngIf="rolSeleccionado.value.territorio == 'mesa'">
                                    <ng-container *ngTemplateOutlet="mesa"></ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="textDescripcion">Descripción</label>
                            <textarea rows="5" cols="30" pInputTextarea formControlName="textDescripcion"
                                [ngClass]="{'invalid ng-touched': form.get('textDescripcion').invalid && form.get('textDescripcion').touched}"></textarea>
                            <div *ngIf="textDescripcion.invalid && textDescripcion.touched" class="error-message">
                                <div *ngIf="textDescripcion.errors?.required">Agregue una descripción.
                                </div>
                            </div>
                        </div>
                    </form>
                </p-tabPanel>
                <p-tabPanel header="Datos" class="line-height-3 m-0" *ngIf="voluntarioSeleccionado">
                    <span class="block text-600 font-medium mb-3">DATOS PADRÓN</span>
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                Nombres: <span class="text-700"> {{ voluntarioSeleccionado.padron_electoral.nom_padron |
                                    titlecase }} </span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                País: <span class="text-700"> {{ voluntarioSeleccionado.nom_pais | titlecase }} </span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                Provincia: <span class="text-700"> {{ voluntarioSeleccionado.nom_provincia | titlecase
                                    }}
                                </span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                Cantón: <span class="text-700"> {{ voluntarioSeleccionado.nom_canton | titlecase }}
                                </span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                Parroquia: <span class="text-700"> {{ voluntarioSeleccionado.nom_parroquia | titlecase
                                    }}
                                </span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2">
                            <span class="text-800 line-height-3">
                                Recinto: <span class="text-700"> {{ voluntarioSeleccionado.padron_electoral.nom_recinto
                                    }}
                                </span>
                            </span>
                        </li>
                    </ul>
                    <span class="block text-600 font-medium mb-3">IMÁGEN</span>
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                Perfil:
                                <button pButton pRipple type="button" icon="pi pi-image"
                                    class="p-button-rounded p-button-primary" (click)="obtenerImagen()"
                                    *ngIf="!presentarFoto"></button>
                                <img [src]="fotoVoluntario" alt="Foto Perfil" *ngIf="presentarFoto">
                            </span>
                        </li>
                    </ul>
                    <span class="block text-600 font-medium mb-3">CONTACTOS</span>
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                Correo: <span class="text-700"> {{ voluntarioSeleccionado.correo }} </span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2">
                            <span class="text-800 line-height-3">
                                Teléfono: <span class="text-700"> {{ voluntarioSeleccionado.telefono }} </span>
                            </span>
                        </li>
                    </ul>
                    <span class="block text-600 font-medium mb-3"
                        *ngIf="voluntarioSeleccionado.red_fb || voluntarioSeleccionado.red_tw || voluntarioSeleccionado.red_tk || voluntarioSeleccionado.red_ig">REDES
                        SOCIALES</span>
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none"
                        *ngIf="voluntarioSeleccionado.red_fb || voluntarioSeleccionado.red_tw || voluntarioSeleccionado.red_tk || voluntarioSeleccionado.red_ig">
                        <li class="flex align-items-center py-2">
                            <div class="flex flex-wrap align-items-center">
                                <p-chip label="Facebook" icon="pi pi-facebook" styleClass="m-1"
                                    *ngIf="voluntarioSeleccionado.red_fb"
                                    (click)="redirigir('https://www.facebook.com/search/top?q=' + voluntarioSeleccionado.red_fb)"></p-chip>
                                <p-chip label="Twitter" icon="pi pi-twitter" styleClass="m-1"
                                    (click)="redirigir('https://x.com/' + voluntarioSeleccionado.red_tw)"
                                    *ngIf="voluntarioSeleccionado.red_tw"></p-chip>
                                <p-chip label="Tiktok" image="assets/layout/images/tik-tok.png" styleClass="m-1"
                                    (click)="redirigir('https://www.tiktok.com/' + voluntarioSeleccionado.red_tk)"
                                    *ngIf="voluntarioSeleccionado.red_tk"></p-chip>
                                <p-chip label="Instagram" icon="pi pi-instagram" styleClass="m-1"
                                    (click)="redirigir('https://www.instagram.com/' + voluntarioSeleccionado.red_ig)"
                                    *ngIf="voluntarioSeleccionado.red_ig"></p-chip>
                            </div>
                        </li>
                    </ul>
                    <span class="block text-600 font-medium mb-3"
                        *ngIf="voluntarioSeleccionado.usuario_valida">VALIDADOR</span>
                    <ul class="p-0 mx-0 mt-0 mb-4 list-none" *ngIf="voluntarioSeleccionado.usuario_valida">
                        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                            <span class="text-800 line-height-3">
                                Usuario: <span class="text-700"> {{ voluntarioSeleccionado.usuario_valida }} </span>
                            </span>
                        </li>
                        <li class="flex align-items-center py-2">
                            <span class="text-800 line-height-3">
                                Descripción: <span class="text-700"> {{ voluntarioSeleccionado.descripcion }} </span>
                            </span>
                        </li>
                    </ul>
                </p-tabPanel>
            </p-tabView>

            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-outlined" label="Cancelar"
                    (click)="hideDialog();limpiarFormulario();actualizar=false"></button>
                <button pButton pRipple icon="pi pi-check" (click)="guardar()" *ngIf="activeIndex == 0"
                    class="p-button p-button-primary" [label]="actualizar ? 'Actualizar': 'Guardar'"></button>
            </ng-template>

        </p-dialog>

    </div>
</div>

<p-toast key="tst"></p-toast>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#08b549" type="ball-fussion" [fullScreen]="true">
    <p style="color: #08b549"> Cargando... </p>
</ngx-spinner>